
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="#">
            Team_seven
          </a>
        </li>
        <li>
          <a href="#">
            About Us
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Designed by
      <a href="https://www.invisionapp.com" target="_blank">Team_seven</a>. Coded by
      <a href="https://www.creative-tim.com" target="_blank">Team_seven</a>.
    </div>
  </div>
</footer>
